#filter-container {
    border: solid 1px #d8d8d8;
    border-radius: 1mm;
    padding: 2mm;
}

#filter {
    overflow-y: hidden;
    transition: height ease-in-out 300ms;
}

#filter > div:last-child {
    display: flex;
    justify-content: space-between;
}

#filter > div:last-child > div {
    padding: 0 0.4vw;
}

#filter h5 {
    margin-bottom: 2mm;
}

#filter p {
    margin-bottom: 0;
}

#filter label {
    display: inline;
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 1mm;
}

#filter input {
    margin-bottom: 0.6mm;
}

#filter output {
    display: block;
}

#filter input[type="range"] {
    width: 30mm;
}

table {
    width: 100%;
}

.filter-fold-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.fold {
    height: 20px;
}