{% import "pickup_definitions.html" as defs %}

{# declare height if not specified #}
{% if dimensions.height %}
    {% set height = dimensions.height %}
{% else %}
    {% set height = 20 %}
{% endif %}

{# declare width if not specified #}
{% if dimensions.width %}
    {% set width = dimensions.width %}
{% else %}
    {% set width = 100 %}
{% endif %}

{# declare full height if not specified #}
{% if dimensions.fullHeight %}
    {% set fullHeight = dimensions.fullHeight %}
{% else %}
    {% set fullHeight = height + 10 %}
{% endif %}

{# declare inner width if not specified #}
{% if dimensions.innerWidth %}
    {% set innerWidth = dimensions.innerWidth %}
{% else %}
    {% set innerWidth = width - 50 %}
{% endif %}

{% set radius = (fullHeight - height) / 2 %}
{% set innerWidthOffset =  (width - innerWidth) / 2 + defs.padding %}
{% set bottom = defs.padding + fullHeight - radius %}

<svg height="{{ fullHeight + defs.padding * 2 }}mm" width="{{ width + defs.padding * 2}}mm">
    {{ defs.debug_draw(width, fullHeight) }}

    <!-- Top left ear -->
    <circle
        cx="{{ innerWidthOffset }}mm",
        cy="{{ defs.padding + radius }}mm",
        r="{{ radius }}mm",
        stroke="black",
        fill="white",
        stroke-width="{{ defs.strokeWidth }}mm",
        stroke-linejoin="round"
    />
    <!-- Top right ear -->
    <circle
        cx="{{ innerWidthOffset + innerWidth }}mm",
        cy="{{ defs.padding + radius }}mm",
        r="{{ radius }}mm",
        stroke="black",
        fill="white",
        stroke-width="{{ defs.strokeWidth }}mm",
        stroke-linejoin="round"
    />
    <!-- Bottom left ear -->
    <circle
        cx="{{ innerWidthOffset }}mm",
        cy="{{ bottom }}mm",
        r="{{ radius }}mm",
        stroke="black",
        fill="white",
        stroke-width="{{ defs.strokeWidth }}mm",
        stroke-linejoin="round"
    />
    <!-- Bottom right ear -->
    <circle
        cx="{{ innerWidthOffset + innerWidth }}mm",
        cy="{{ bottom }}mm",
        r="{{ radius }}mm",
        stroke="black",
        fill="white",
        stroke-width="{{ defs.strokeWidth }}mm",
        stroke-linejoin="round"
    />
    <rect
        x="{{ defs.padding }}mm"
        y="{{ radius + defs.padding }}mm" 
        width="{{ width }}mm" 
        height="{{ height }}mm" 
        stroke="black" 
        fill="white" 
        stroke-width="{{ defs.strokeWidth }}mm" 
        stroke-linejoin="round"
        {% if dimensions.edgeRadius %}
        rx="{{ dimensions.edgeRadius }}mm"
        {% else %}
        rx="2mm"
        {% endif %}
    />

    {% if dimensions.width %}
        <!-- Pickup width -->
        {{ defs.horizontalDimension(
            defs.padding, 
            defs.padding + radius, 
            width, 
            0
        ) }}
    {% endif %}

    {% if dimensions.innerWidth %}
    <!-- Ear to ear width -->
    {{ defs.horizontalDimension(
        (width - innerWidth) / 2 + defs.padding, 
        defs.padding + radius, 
        innerWidth, 
        1 if dimensions.height else 0
    ) }}
    {% endif %}

    {% if dimensions.fullHeight %}
    <!-- Ear to ear height -->
    {{ defs.verticalDimension(
        (width - innerWidth) / 2 + defs.padding, 
        defs.padding, 
        fullHeight,
        0
    ) }}
    {% endif %}
    {% if dimensions.height %}
    <!-- Pickup height -->
    {{ defs.verticalDimension(
        defs.padding,
        defs.padding + radius, 
        height,
        1 if dimensions.fullHeight else 0
    ) }}
    {% endif %}
    {% if dimensions.edgeRadius %}
    <!-- Edge radius -->
    {{ defs.bottomRightAngle(
        defs.padding + width, 
        defs.padding + height + radius,
        dimensions.edgeRadius
    ) }}
    {% endif %}

</svg>