{% if instance.fullHeight and instance.innerWidth %}

{% import "pickup_definitions.html" as defs %}
{% set radius = (instance.fullHeight - instance.height) / 2 %}

<svg height="{{ instance.fullHeight + defs.padding * 2 }}mm" width="{{ instance.width + defs.padding * 2}}mm">
    {{ defs.debug_draw(instance.width, instance.fullHeight) }}

    <!-- Top left ear -->
    <circle
        cx="{{ (instance.width - instance.innerWidth) / 2 + defs.padding }}mm",
        cy="{{ defs.padding + radius }}mm",
        r="{{ radius }}mm",
        stroke="black",
        fill="white",
        stroke-width="{{ defs.strokeWidth }}mm",
        stroke-linejoin="round"
    />
    <!-- Top right ear -->
    <circle
        cx="{{ (instance.width + instance.innerWidth) / 2 + defs.padding }}mm",
        cy="{{ defs.padding + radius }}mm",
        r="{{ radius }}mm",
        stroke="black",
        fill="white",
        stroke-width="{{ defs.strokeWidth }}mm",
        stroke-linejoin="round"
    />
    <!-- Bottom left ear -->
    <circle
        cx="{{ (instance.width - instance.innerWidth) / 2 + defs.padding }}mm",
        cy="{{ defs.padding + instance.fullHeight - radius }}mm",
        r="{{ radius }}mm",
        stroke="black",
        fill="white",
        stroke-width="{{ defs.strokeWidth }}mm",
        stroke-linejoin="round"
    />
    <!-- Bottom right ear -->
    <circle
        cx="{{ (instance.width + instance.innerWidth) / 2 + defs.padding }}mm",
        cy="{{ defs.padding + instance.fullHeight - radius }}mm",
        r="{{ radius }}mm",
        stroke="black",
        fill="white",
        stroke-width="{{ defs.strokeWidth }}mm",
        stroke-linejoin="round"
    />
    <rect
        x="{{ defs.padding }}mm"
        y="{{ radius + defs.padding }}mm" 
        width="{{ instance.width }}mm" 
        height="{{ instance.height }}mm" 
        stroke="black" 
        fill="white" 
        stroke-width="{{ defs.strokeWidth }}mm" 
        stroke-linejoin="round"
        {% if instance.edgeRadius %}
        rx="{{ instance.edgeRadius }}mm"
        {% else %}
        rx="2mm"
        {% endif %}
    />

    <!-- Pickup width -->
    {{ defs.horizontalDimension(
        defs.padding, 
        defs.padding + radius, 
        instance.width, 
        0
    ) }}
    <!-- Ear to ear width -->
    {{ defs.horizontalDimension(
        (instance.width - instance.innerWidth) / 2 + defs.padding, 
        defs.padding + radius, 
        instance.innerWidth, 
        1
    ) }}
    <!-- Ear to ear height -->
    {{ defs.verticalDimension(
        (instance.width - instance.innerWidth) / 2 + defs.padding, 
        defs.padding, 
        instance.fullHeight,
        0
    ) }}
    <!-- Pickup height -->
    {{ defs.verticalDimension(
        defs.padding,
        defs.padding + radius, 
        instance.height,
        1
    ) }}
    {% if instance.edgeRadius %}
    <!-- Edge radius -->
    {{ defs.bottomRightAngle(
        defs.padding + instance.width, 
        defs.padding + instance.height + radius,
        instance.edgeRadius
    ) }}
    {% endif %}

</svg>

{% endif %}